<!DOCTYPE html>
<html>
  <head>
    <title>CVRP Solver</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/main.js" defer></script>

  </head>
  <body>
    <h2>CVRP Solver</h2>
    <label>Truck Capacity: <input type="number" id="capacityInput" /></label>
    <button onclick="solveCVRP()">Solve</button>
    <div class="mid">
      <div id="map" style="height: 70vh; width: 80vw;"></div>
      <div id="markers"></div>
    </div>
  
    <div id="algorithmSelector" class="algorithm-selector">
      <div class="algo-box selected" data-algo="nearest">Nearest Neighbour</div>
      <div class="algo-box" data-algo="clarke-wright">Clark-Wright</div>
      <div class="algo-box" data-algo="google">Google Algorithm</div>
    </div>
    
    <script
    src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&libraries=marker&callback=initMap"
    async
    defer
  ></script>
  </body>
</html>
