<!DOCTYPE html>
<html>
  <head>
    <title>CVRP Solver</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/main.js" defer></script>

  </head>
  <body>
    
    
    <div class="mid">
      <div id="map" style="height: 85vh; width: 80vw;"></div>
      <div id="markers"></div>
    </div>

    <div id="solutionPopup" class="popup">
      <div class="popup-content">
        <span class="close-btn" onclick="closeSolutionPopup()">×</span>
        <h3>CVRP Solution</h3>
        <div id="solutionText">
        </div>
      </div>
    </div>

    <div style="display: flex; justify-content: center; align-items: center;">
      <label style="display: flex;align-items: center;">
      <h2 style="margin: 14px; margin-top: 7px;">Truck Capacity: </h2><input type="number" id="capacityInput" /></label>
      <button onclick="solveCVRP()">Solve</button>
      <button onclick="resetMap()">Reset</button>
    </div>

    <div id="algorithmSelector" class="algorithm-selector">
      <div class="algo-box selected" data-algo="nearest">Nearest Neighbour</div>
      <div class="algo-box" data-algo="clarke-wright">Clark-Wright</div>
      <div class="algo-box" data-algo="google">Google Algorithm</div>
    </div>
    
    <script
    src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&libraries=marker&callback=initMap"
    async
    defer
  ></script>
  </body>
</html>
